<div class="row-fluid">
	<div class="span12">
		<h5 data-i18n="[html]scans.title">Escaneos</h5>
		
		<div class="header-table">
			<button class="btn icon-user pull-right" type="button" onclick="javascript:app.scansView.createScan()" data-i18n="[html]scans.new">Nuevo</button>
		</div>
		<table class="table table-striped table-hover table-bordered ">			
			<thead>
				<th data-i18n="[html]scans.table.id">Id</th>
				<th data-i18n="[html]scans.table.name">Nombre</th>
				<th data-i18n="[html]scans.table.status">Estado</th>
				<th data-i18n="[html]scans.table.target">Target</th>
				<th data-i18n="[html]scans.table.progress">Progreso</th>				
				<th></th>
			</thead>
			<tbody>
				<% _.each(list, function(scan) { %>
					<tr>
						<td><%= scan.id %></td>
						<td><%= scan.name %></td>
						<td><%= scan.status %></td>
						<td>
							<%
								var targets = scan.targets[0];
								for(var i = 1; i < scan.targets.length; i++)
								{
									targets = targets+ "," + scan.targets[i];
								}
								print(targets);
							%>
						</td>
						<td>
							<div class="progress progress-striped active">
							  <div class="bar" style="width: <%= scan.progress %>%;"></div>
							</div>
						</td>
						<td>
							<a class="icon-remove" href="javascript:scansView.cancelScan(<%= scan.id %>)"/>
						</td>
					</tr>				
				<% }); %>
				
			</tbody>
		</table>		
	</div>
  </div>
</div>